
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Othername</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Certainty</th>
      <th>Year</th>
      <th>Population</th>
      <th>Cityid</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.otherName %></td>
        <td><%= city.country %></td>
        <td><%= city.latitude %></td>
        <td><%= city.longitude %></td>
        <td><%= city.certainty %></td>
        <td><%= city.year %></td>
        <td><%= city.population %></td>
        <td><%= city.cityId %></td>
        <td><%= link_to 'Show', city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @posts %>