
<div class="container">
    <div class="row">
      <div class="col">Name</div>
      <div class="col">Othername</div>
      <div class="col">Country</div>
      <div class="col">Certainty</div>
      <div class="col">Year</div>
      <div class="col">Population</div>
      <div class="col">Cityid</div>
      <div class="col"></div>
    </div>

    <% @cities.each do |city| %>
      <div class="row <%= cycle('list-group-item-light', 'list-group-item-info') %>">
        <div class="col"><%= city.name %></div>
        <div class="col"><%= city.otherName %></div>
        <div class="col"><%= city.country %></div>
        <div class="col"><%= city.certainty %></div>
        <div class="col"><%= city.year %></div>
        <div class="col"><%= city.population %></div>
        <div class="col"><%= city.cityId %></div>
        <div class="col"><%= link_to 'Show', city %></div>
      </div>
    <% end %>
</div>

<%= will_paginate @posts %>