<script language="JavaScript" type="text/javascript">
 
fetch('barchartcities.json').then(response => response.json()).then(data => {
  const container = document.querySelector('#container');
  const stats = new BarChartRace(container, data);

  stats.start();
  window.addEventListener('resize', () => stats.resize());
});
</script>
<p id="notice"><%= notice %></p>

<h1>A List of Cities</h1>
<p>A trial bar chart race showing one entry for each city's first appearance</p>
<div id="container"></div>
<div id="container">
 <div class="row">
      <div class="col">Name</div>
      <div class="col">Year</div>
      <div class="col">Population</div>
      <div class="col"></div>
    </div>
    <% @cities.each do |city| %>
       <div class="row <%= cycle('list-group-item-light', 'list-group-item-info') %>">
        <div class="col"><%= city.name %></div>
        <div class="col"><%= city.year %></div>
        <div class="col"><%= city.population %></div>
      </div>
    <% end %>
</div>
<%= javascript_pack_tag 'bar_chart_race'%>


