<p id="notice"><%= notice %></p>

<h1>Cities by Name</h1>
<div class="container">
    <% @cities.each do |city| %>
    
      <div class="row <%= cycle('list-group-item-light', 'list-group-item-info') %>" >
        <div class="col"><%= city.name %></div>
        <div class="col"><%= link_to 'Show', search_path(term: city.name) %></div>
      </div>
    <% end %>
  </tbody>
</div>

<%= will_paginate @posts %>
