<script language="JavaScript" type="text/javascript">
fetch('barchartcities.json').then(response => response.json()).then(data => {
  const container = document.querySelector('#container');
  const stats = new BarChartRace(container, data);

  stats.start();
  window.addEventListener('resize', () => stats.resize());
});
</script>
<p id="notice"><%= notice %></p>

<h1>A List of Cities</h1>
<p>A trial bar chart race showing one entry for each city's first appearance</p>
<div id="container"></div>
<table>
  <thead>
    <tr>
      <th>Name</th>
     
      <th>Year</th>
      
      <th colspan="1"></th>
    </tr>
  </thead>
<tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
         <td><%= city.year %></td>
         <td><%= city.population %></td>
    
        
      </tr>
    <% end %>
  </tbody>
</table>
<%= javascript_pack_tag 'bar_chart_race'%>
<br>


