<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.Name %>
</p>

<p>
  <strong>Othername:</strong>
  <%= @city.OtherName %>
</p>

<p>
  <strong>Country:</strong>
  <%= @city.Country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @city.Latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @city.Longitude %>
</p>

<p>
  <strong>Certainty:</strong>
  <%= @city.Certainty %>
</p>

<p>
  <strong>Year:</strong>
  <%= @city.Year %>
</p>

<p>
  <strong>Population:</strong>
  <%= @city.Population %>
</p>

<p>
  <strong>Cityid:</strong>
  <%= @city.CityId %>
</p>

<%= link_to 'Back', cities_path %>

<h3>The other occurances of the city are these:</h3>
 <%= render "core" %>
