<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Othername:</strong>
  <%= @city.otherName %>
</p>

<p>
  <strong>Country:</strong>
  <%= @city.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @city.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @city.longitude %>
</p>

<p>
  <strong>Certainty:</strong>
  <%= @city.certainty %>
</p>

<p>
  <strong>Year:</strong>
  <%= @city.year %>
</p>

<p>
  <strong>Population:</strong>
  <%= @city.population %>
</p>

<p>
  <strong>Cityid:</strong>
  <%= @city.cityId %>
</p>

<%= link_to 'Back', cities_path %>
<p>Refresh the page if at first the chart doesn't appear below.</p>

<div id="container" style="width:100%; height:400px"></div>
<script type = "text/javascript">
document.addEventListener('DOMContentLoaded',function(){
  var myChart = Highcharts.chart('container', {
    chart:{
      type: 'line'
    },
    title: {
      text: 'Population over Time'
    },
    xAxis: {
      type: 'category',
      title: {
        text: 'Years'
      },
      categories: <%=raw @years %>
    },

    yAxis:{
      title: {
        text: 'Population'
      }
    },
    series: [{
      name:    '<%=@city.name %>',
      data: <%=raw @population %>
    }, ]
  });
});
</script>

<h3>These are all of the details about the city over the years:</h3>
 <%= render "core" %>
