
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   
<p id="notice"><%= notice %></p>
<p><%= link_to 'Back', cities_path %></p>
<h1 align="center" ><%= @city.name %></h1>
<div class = "container">
<div class="row">
<div class ="col">
  <strong>Name:</strong>
  <%= @city.name %>
</div>

<div class ="col">
  <strong>Othername:</strong>
  <%= @city.otherName %>
</div>

<div class ="col">
  <strong>Country Name:</strong>
  <%= @city.countryName %>
</div>
</div>
<div class="row">
<div class ="col">
  <strong>Latitude:</strong>
  <%= @city.latitude %>
</div>

<div class ="col">
  <strong>Longitude:</strong>
  <%= @city.longitude %>
</div>

<div class ="col">
  <strong>Certainty:</strong>
  <%= @city.certainty %>
</div>
</div>
<div class="row">
<div class ="col">
  <strong>Year:</strong>
  <%= @city.year %>
</div>

<div class ="col">
  <strong>Population:</strong>
  <%= @city.population %>
</div>

<div class ="col">
  <strong>Cityid:</strong>
  <%= @city.cityId %>
  </div>
  </div>
</div>
<br>
<div id="mapid"></div>
<script type = "text/javascript">
var mymap = L.map('mapid').setView([<%= @city.latitude %>, <%= @city.longitude %>], 13);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoic2NoYXJsYXUiLCJhIjoiY2szYnVuOWxnMDl4bDNmdWlhNGxtdHFwNCJ9.AscLdeuE02X-3W7Mtvos8A '
}).addTo(mymap);
var marker = L.marker([<%= @city.latitude %>, <%= @city.longitude %>]).addTo(mymap);

</script>

<p>Refresh the page if at first the chart doesn't appear below.</p>

<div id="container" style="width:100%; height:400px"></div>
<script type = "text/javascript">
document.addEventListener('DOMContentLoaded',function(){
  var myChart = Highcharts.chart('container', {
    chart:{
      type: 'line'
    },
    title: {
      text: 'Population over Time'
    },
    xAxis: {
      type: 'category',
      title: {
        text: 'Years'
      },
      categories: <%=raw @years %>
    },

    yAxis:{
      title: {
        text: 'Population'
      }
    },
    series: [{
      name:    '<%=@city.name %>',
      data: <%=raw @population %>
    }, ]
  });
});
</script>

<h3>These are all of the details about the city of <%=@city.name %> over the years:</h3>
 <%= render "core" %>
